$primary: #E44524;  //red
$secondary: #1C6F8F;  //blue
$tertiary: #E48824;  //light green
$accent: #1AA54E;  // darker green
$dark: #2e3033;  // black
$gray: #e8e8e8;  // gray
$light: #fffffe; // light
