/*------------------------------------*\
    #Global Settings
\*------------------------------------*/

/**
 * CONTENTS
 *
 * Layout Overrides
 *   $inuit-enable-layout--flush..........allow for full width / flush sections
 *   $inuit-enable-layout--center.........center content
 *
 * Block List Overrides
 *   $inuit-list-block-padding............shrink padding on menu
 *
 * Grid System Overrides
 *   $inuit-use-fractions.................use class names of "one-fourth" instead of 1/4
 *
 * Heading Overrides
 *   $inuit-heading-size-1................custom h1 font-size
 *   $inuit-heading-size-2................custom h2 font-size
 *   $inuit-heading-size-3................custom h3 font-size
 *
 * Heading Overrides
 *   $font-family-primary.................custom font-family
 *   $font-family-secondary...............custom font-family
 *
*/

$lp-tpl-namespace: '';
$lp-tpl-base-spacing-unit: $inuit-base-spacing-unit;
$lp-tpl-base-spacing-unit--small: $inuit-base-spacing-unit--small;
$lp-tpl-base-spacing-unit--large: $inuit-base-spacing-unit--large;





/**
 * #Layout Overrides
 */

$inuit-enable-layout--flush: true;
$inuit-enable-layout--center: true;





/**
 * #Block List Overrides
 */
$inuit-list-block-padding: 16px;





/**
 * #Button Overrides
 */
$lp-tpl-enable-btn-secondary: true;
$lp-tpl-enable-btn-tertiary: true;
$lp-tpl-enable-btn-accent: true;
$lp-tpl-enable-btn-dark: true;
$lp-tpl-enable-btn-light: true;
$lp-tpl-enable-btn-gray: true;
$lp-tpl-enable-btn-border-radius: true;





/**
 * #Nav Overrides
 */
$lp-tpl-nav-bg-color: $gray;





/**
 * #Hero Overrides
 */
$lp-tpl-hero-color: $light;
$lp-tpl-hero-bg-color: $light;
$lp-tpl-hero-padding--large: $lp-tpl-base-spacing-unit;




/**
 * #Background Overrides
 */
$lp-tpl-enable-accent-bg: true;
$lp-tpl-enable-secondary-bg: true;
$lp-tpl-enable-tertiary-bg: true;
$lp-tpl-enable-gray-bg: true;
$lp-tpl-enable-dark-bg: true;
$lp-tpl-enable-light-bg: true;




/**
 * #Countdown Overrides
 */
$lp-tpl-countdown-color: $secondary;
$lp-tpl-countdown-description-color: $light;
$lp-tpl-countdown-bg-color: $light;
$lp-tpl-countdown-flap-width: 128px;
$lp-tpl-countdown-flap-font-size: 48px;
$lp-tpl-countdown-description-font-size: 16px;
$lp-tpl-countdown-flap-font-weight: bold;




/**
 * #Grid System Overrides
 */
$inuit-use-fractions: false;





/**
 * #Heading Overrides
 */

$inuit-heading-size-1:  60px;
$inuit-heading-size-2:  36px;
$inuit-heading-size-3:  24px;
$lp-tpl-heading-size-1:  $inuit-heading-size-1;
$lp-tpl-heading-size-2:  $inuit-heading-size-2;
$lp-tpl-heading-size-3:  $inuit-heading-size-3;




/**
 * #Button Overrides
 */
$inuit-enable-btn--large:    true;
$inuit-enable-btn--small:    true;
$inuit-btn-background:      $primary;
$inuit-btn-color:           $light;





/**
 * #Font Overrides
 */

$font-family-primary: 'Lato', sans-serif;
$font-family-secondary: 'Lato', sans-serif;